{%extends 'base.html' %}

{%block title%}Выбор параметра{%endblock%}

{%block content%}
<h2>Выберите параметр для создания процесса</h2>

{%if parameters%}
    <table>
        <thead>
            <tr>
                <td>Подсистема</td>
                <td>Параметр</td>
                <td>Описание</td>
                <td>Действие</td>
            </tr>
        </thead>
        {%for param in parameters%}
            <tr>
                <td>{{param.subsystem.name}}</td>
                <td>{{param.name}}</td>
                <td>{{param.description|default:""}}</td>
                <td><a href="{% url 'goal_parameter' param.slug %}">Выбрать</a></td>
            </tr>
        {%endfor%}
    </table>
{%else%}
    <p>Нет доступных параметров</p>
{%endif%}
{%endblock%}