{%extends 'base.html'%}

{%block content%}
<div class="content-middle">
    <p>Параметры</p>
    {%if parameters%}
        <table>
            <thear>
                <tr>
                    <td>Имя</td><td>Описание</td><td>Действие</td>
                </tr>
            </thear>
        {%for parameter in parameters%}
                <tr>
                    <td>{{parameter.name}}</td><td>{{parameter.description}}</td><td><a href='{% url 'edit_parameter' parameter.slug %}'>Изменить</a></td><td><a href='{% url 'goal_parameter' parameter.slug %}'>Целевой параметер</a></td><td><a href="{% url 'del_parameter' parameter.slug %}">Удалить</a></td>
                </tr>
        {%endfor%}
        </table>
    {%endif%}
</div>
{%endblock%}