

.header{
    background-color: #ccc;
    height:40px;
    border: 10px;
    border-color:#F5059A;
}
body{
    margin-bottom: 80px;
}

.footer{
    background-color: #ccc;
    height: 80px;
    position:fixed;
    width:99%;
    bottom:0;
}
.sidebar {
    height:40px;
    background-color: #eee;
}

/*#content {
    height: 280px;

}*/
.header button{
    height: 34px;

}

.content-wrapper{
    display: flex;
    align-items: stretch;
}

.content-left{
    width: 34%;
    background-color: #CC00CC;
}
.content-middle{
    width: 33%;
    background-color: #F5059A;
}
.content-right{
    width: 33%;
    background-color: #CCAACC;
}

.button-div{
    float:left;
    height:34px;
    background-color:#000000;
    border-right: 3px solid green;
    border-left: 3px solid green;
    border-bottom: 3px solid green;
    border-top: 3px solid green;
    border-radius: 10px;
}

.button-parameter{
    border: 2px solid red;
    background-color:transparent;
}

.button-parameter:first-child p{
    border:2px solid blue;
}