{% extends "base.html" %}
{%load static%}
{% block title %}
Goal parameter
{% endblock %}

{% block stylein %}
.flex-container-one{
    display: ;
}
.flex-container-two{
    display: flex;
}
.flex-item {
    text-align:left;
    font-size: 1.1em;
    padding: 1.5em;
    color: white;
}
.item1{
    background-color: #2b6cb0;
    border: 5px solid red;
    margin: 10px;
}
.item2{
    background-color: #F5059A;
    border: 5px solid black;
    margin: 10px;
}

.arrow-image{
    width:100%;
    height: 50%;
}
.item-image{
    border: 5px solid black;
    margin: 10px;
    width: 5%; 
    background-color: red;
}
{%endblock%}

{% block content %}

<div class="flex-container-one">
    <div class="flex-container-two">
        <div class="flex-item item1">
            <p><b>Подсистема</b>: {{source.subsystem}}</p>
            <p><b>Параметр</b>: {{source.name}}</p>
        </div>
        <div class="flex-item item-image">
            <img class='arrow-image' src="{%static 'arrow-right-svgrepo-com.svg' %}"/>
        </div>
        <div class = 'flex-item item1'>
            <p><b>Подсистема</b>: {{goal.subsystem}}</p>
            <p><b>Параметр</b>: {{goal.name}}</p>
        </div>
    </div>

    <div class="flex-item item2">
        <form method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}
            {{forms.is_affect.errors}}
            <div>
                {{ form.is_affect }}
            </div>

            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}
