{% extends "base.html" %}
{%load blog_tags%}
{% block title %}
Главная страница
{% endblock %}

{% block sidebar %}
    {% buttons_sidebar_main_page %}
{% endblock %}

{%block stylein%}
a {
    text-decoration: none;
    color: black;
}

.card h4 a:hover {
    color: blue;
}

a:active {
    color: red;
}
{%endblock%}

{% block content %}

<section class="page">

    <header class="page-header">
        <h2>Системы и подсистемы</h2>
    </header>

    {% if subsystems %}
        <div class="grid">
            {% for system in subsystems %}
                <article class="card">

                    <header class="card-header">
                        <h4>
                            <a href="/show/subsystem/{{ system.name }}">
                                <span>{{ system.name }}</span>
                            </a>
                            <a href="{% url 'show_d3_tree' system.name %}">
                                <span>{{system.name}}</span>
                            </a>
                        </h4>
                    </header>

                    <p class="description">
                        {{ system.description|default:"Без описания" }}
                    </p>

                    <footer class="card-actions">
                        <a href="/edit/subsystem/{{ system.name }}">
                            ✏️ Изменить
                        </a>

                        <a href="/del/system/{{ system.name }}" class="danger">
                            🗑 Удалить
                        </a>
                    </footer>

                </article>
            {% endfor %}
        </div>
    {% else %}
        <div class="empty-state">
            <p>Подсистем пока нет</p>
        </div>
    {% endif %}

</section>

{% endblock %}
