{%extends "base.html"%}
{%block title%}Главная страница{%endblock%}

{%block content%}
<div class="content-wrapper">
<div class="content-left">
    <p>Системы и подсистемы</p>
    {% if subsystems %}
        <table>
            <thead>
                <tr>
                    <td>Имя</td><td>Описание</td><td>Действие</td>
                </tr>
            </thead>
            {%for system in subsystems%}
                <tr>
                    <td><a href="{% url 'show_tree' system.slug %}">{{system.name}}</a></td><td>{{system.description}}</td><td><a href="{% url 'edit_subsystem' system.slug %}">Изменить</a></td><td><a href="{% url 'del_system' system.slug %}">Удалить</a></td>
                </tr>
            {%empty%}
            <div>
                <p>Нету подсистем</p>
            </div>
            {%endfor%}
        </table>
    {%else%}
    <div>
        <p>Нету подсистем</p>
    </div>
    {%endif%}
</div>
<div class="content-middle">
    <p>Параметры</p>
    {%if parameters%}
        <table>
            <thear>
                <tr>
                    <td>Имя</td><td>Описание</td><td>Действие</td>
                </tr>
            </thear>
        {%for parameter in parameters%}
                <tr>
                    <td>{{parameter.name}}</td><td>{{parameter.description}}</td><td><a href='{% url 'edit_parameter' parameter.slug %}'>Изменить</a></td><td><a href='{% url 'goal_parameter' parameter.slug %}'>Целевой параметер</a></td><td><a href="{% url 'del_parameter' parameter.slug %}">Удалить</a></td>
                </tr>
        {%endfor%}
        </table>
    {%endif%}
</div>
<div class="content-right">
    <p>Связи между параметрами: ParameterRelations</p>
    {%if parameter_relations%}
    <table>
        <thead>
            <tr>
                <td>На кого влияют</td><td>Кто влияет</td><td>Действие</td>
            </tr>
        </thead>
        {%for parameter_rel in parameter_relations%}
            <tr>
               <td>{{parameter_rel.to_parameter}}</td><td>{{parameter_rel.from_parameter}}</td><td><a href='{% url 'parameter_relatoins_edit' parameter_rel.to_parameter.slug parameter_rel.from_parameter.slug %}'>Изменить</a></td><td><a href="{% url 'del_parameter_relations' parameter_rel.to_parameter.slug parameter_rel.from_parameter.slug %}">Удалить</a></td>
            </tr>
        {%endfor%}
    </table>
    {%else%}
        <p>Нету связей между параметрами</p>
    {%endif%}
</div>
</div>

{%endblock%}