{%extends 'base.html'%}

{%block title%}
{%endblock%}



{%block sidebar%}
<div class='button-sidebar'>
<a href='/'><button>Главная страница</button></a>
</div>
{%endblock%}

{%block content%}
{% if pairs %}
    <div class="grid">
        {%for min_parameter, goal_parameter in pairs%}
            <div class="card">
                <a href="/form_goal_parameter/{{goal_parameter.name}}/{{min_parameter.name}}"><button>{{goal_parameter.name}}</button></a>
                <div class="description">{{min_parameter.name}}</div>
            </div>
            
        {%endfor%}
    </div>
{%endif%}
{%endblock%}