{%extends 'base.html'%}

{%block title%}Процессы{%endblock%}

{% block stylein %}

.card-completed {
    background-color: #d4edde;
    border: 2px solid #28a745;
}

.card-completed:hover {
    transform: none;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.88);
}
    
{% endblock %}

{%block sidebar%}
<div class='button-sidebar'>
<a href='/'><button>Главная страница</button></a>
</div>
{%endblock%}

{%block content%}
{% if active_processes %}
    <div class="grid">
        {%for pair in active_processes%}
            <div class="card">
                {% if pair.min_parameter.subsystem %}
                <a href="/form_goal_parameter/{{pair.goal_parameter.subsystem.name}}/{{pair.goal_parameter.name}}/{{pair.min_parameter.subsystem.name}}/{{pair.min_parameter.name}}"><button>{{pair.goal_parameter.name}}</button></a>
                {% else %}
                <button disabled>Нет подсистемы</button>
                {% endif %}
                <div class="description">{{pair.min_parameter.name}}</div>
                <div class="mt-2">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ pair.percent }}%;" 
                             aria-valuenow="{{ pair.percent }}" 
                             aria-valuemin="0" 
                             aria-valuemax="100">
                            {{ pair.percent }}%
                        </div>
                    </div>
                </div>
            </div>
            
        {%endfor%}
    </div>
{%endif%}
    

{%if completed_processes%}
    <div class="grid">
        {%for pair in completed_processes%}
            <div class = "card card-completed">
                {% if pair.min_parameter.subsystem %}
                <a href="/form_goal_parameter/{{pair.goal_parameter.subsystem.name}}/{{pair.goal_parameter.name}}/{{pair.min_parameter.subsystem.name}}/{{pair.min_parameter.name}}"><button>{{pair.goal_parameter.name}}</button></a>
                {% else %}
                <button disabled>Нет подсистемы</button>
                {% endif %}
                <div>
                    COMPLETE
                </div>
            </div>
        {%endfor%}
    </div>
{%endif%}
{%endblock%}