{%extends 'base.html'%}
{%load blog_tags %}


{%if sidebar%}
    {%block sidebar%}
        {%buttons_sidebar node.slug%}
    {%endblock%}
{%endif%}

{% block title%}Дерево структуры{%endblock%}

{%block content%}
    <ul>
        <li>
            <a href="{% url 'show_system' node.slug %}"><button>{{node.name}}</button></a>
            {%if node.children.all%}

            {%include 'app/tree.html' with nodes=node.children.all%}

            {%else%}
            <br><p>Нет Подсистем</p>
            {%endif%}
        </li>
    </ul>
{%endblock%}
