{%extends 'base.html'%}



{%block title%}System {{system.name}}{%endblock%}

{%block content%}
    <div><p>{{system.name}}</p></div>
    <div><p style="font-size:20px; color:rgb(57, 226, 125);">Описание</p></div>
    <div><p>{{system.description}}</p></div>
    <div>
        <label><p style="font-size:20px; color:rgb(57, 226, 125);">Параметры системы</p></label>
        <ul>

            {% for parameter in system.parameters.all %}
                <li><a href="{% url 'edit_parameter' parameter.slug %}">{{parameter.name}}</a></li>
                {% if forloop.last%}<li><p><a href="{% url 'parameters_form_system' system.slug %}"><button>Добавить параметры</button></a></p></li>
                {%endif%}
            {% empty %}
            <li>
                <p>Нет параметров</p><p><a href="{% url 'parameters_form_system' system.slug %}"><button>Добавить</button></a></p>
            </li>
            {% endfor %}
        </ul>
    </div>
{%endblock%}
