{%extends 'base.html'%}

{%block content%}
{% if parameters_goal %}
    <div class="grid">
        {% for paramet in parameters_goal %}
        <div class="card">
            <h4>
                <a href="">
                    {{ paramet.name }}
                </a>
            </h4>

            <p class="description">
                {{ paramet.description|default:"Без описания" }}
            </p>

            <div class="card-actions">
                <a href="/edit/subsystem/{{ system.name }}">✏️ Изменить</a>
                <a href="/del/system/{{ system.name }}" class="danger">🗑 Удалить</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>Нету подсистем</p>
    {% endif %}
{%endblock%}