{% extends "base.html" %}

{% block title %}Дерево параметров {% endblock %}

{% load blog_tags %}


{% if sidebar %}
    {% block sidebar %}
        {% buttons_sidebar node.name %}
    {% endblock %}
{% endif %}

{%block stylein%}
<style>
    #tree-container{
        width: 60%;
        height: 300px;
        border:1px solid #ccc;
        background: #f9f9f9;
        overflow: hidden;
    }

    .node circle{
        fill: #69b3a2;
        stroke: #fff;
        stroke-width: 10px;
        cursor: pointer;
        transition: all 0.3s;
        pointer-events: none;
    }
    .node circle:hover{
        fill: #ff6b6b;
        r: 30;
    }

    .node text{
        font-size: 48px;
        font-family: sans-serif;
        pointer-events: none;
    }

    .link{
        fill: none;
        stroke: #ccc;
        stroke-width: 2px;
    }

    #node-info{
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        background: white;
        min-height: 50px;
    }

    #controls{
        margin-bottom: 10px;

    }

    #controls button{
        padding: 5px 15px;
        margin-right: 5px;
        cursor: pointer;
    }
    .node .param-count{
        font-size: 10px;
        fill: #666;
    }

    svg{
        color: #DED745;
        background-color: #DED745;
        margin: 10px;
        
    }
    foreignObject{
        pointer-events: all;
        overflow: visible;
    }
    .red {
        color: red;
    }
</style>
{% endblock %}




{%block content%}

<h2>Дерево <span class="red">целевого</span> параметра <span class="red">{{ goal_parameter.name }}</span>  системы: {{ node.name }}</h2>

<div id="controls">
    <button onclick="resetZoom()">Сбросить зум</button>
    <button onclick="zoomIn()">Увеличить</button>
    <button onclick="zoomOut()">Уменьшить</button>
</div>

<div id="tree-container">


</div>

<div id="node-info">
    <strong>Информаци об узле:</strong>
    <p id="info-text">Кникни на узел для просмотра информации</p>
</div>

<script>
    const controls = document.getElementById('controls');
    const button = document.createElement("button");

    button.textContent = "OFF";
    button.value = "off";

    controls.appendChild(button);

    // обработчик нажатия
    button.addEventListener("click", function () {

        if (button.value === "off") {
            button.value = "on";
            button.textContent = "ON";
            second();

        } else {
            button.value = "off";
            button.textContent = "OFF";
            second();
        }
    });
</script>

<script src="https://d3js.org/d3.v7.min.js">

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function main() {
        setTimeout(() => {
            const container = document.getElementById('tree-container');
            const width = container.clientWidth - 40;
            const height = container.clientHeight || 300;

            //Создать кнопку
            

            //Создание SVG

            const svg = d3.select('#tree-container').append('svg')
                .attr('width', width)
                .attr('height', height)
                .attr('xmlns', "http://www.w3.org/2000/svg");

            const g = svg.append('g');

            const zoom = d3.zoom()
                .scaleExtent([0.1, 4])
                .on('zoom', (event) => {
                    g.attr('transform', event.transform)
                });

            svg.call(zoom);

            function resetZoom() {
                svg.transition().duration(750).call(zoom.transform, d3.zoomIdentity);
            }
            function zoomIn() {
                svg.transition().duration(300).call(zoom.scaleBy, 1.3);
            }

            function zoomOut() {
                svg.transition().duration(300).call(zoom.scaleBy, 0.7);
            }


            //Загружаем данные
            function second() {
                const apiurl = "{% url 'api_goal_parameters_tree' goal_parameter.name node.name goal_parameter.number %}";

                fetch(apiurl)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Ошибка загрузки данных " + response.status);
                        }
                        return response.json();
                    })
                    .then(data => {
                        const root = d3.hierarchy(data);
                        const treeLayout = d3.tree()
                            .size([height * 2, width * 0.9])
                            .separation((a, b) => {
                                return (a.parent == b.parent ? 7 : 2);
                            });
                        treeLayout(root);

                        //Рисуем связи Link
                        g.selectAll(".link")
                            .data(root.links())
                            .enter()
                            .append('path')
                            .attr('class', 'link')
                            .attr('d', d3.linkVertical()
                                .x(d => d.x + 50)
                                .y(d => d.y + 100))
                            .style('fill', 'none')
                            .style('stroke', '#ccc')
                            .style('stroke-width', '4px');

                        // Рисуем узлы

                        const nodes = g.selectAll('.node')
                            .data(root.descendants())
                            .enter()
                            .append('g')
                            .attr('class', 'node')
                            .attr('transform', d => `translate(${d.x + 50},${d.y + 100})`)
                            .on('click', function(event, d) {
                                showNodeInfo(d.data);
                            });

                        nodes.append("foreignObject")
                            .attr("x", 30)
                            .attr("y", -10)
                            .attr("width", 120)
                            .attr("height", 40)
                            .html(d => {
                                const params = d.data.parameters;
                                //надо проверять, что вообще есть параметры
                                if (!params || params.length === 0) {
                                    return "";
                                }
                                let paramBaseUrl = "{% url 'edit_parameter' 'PARAM_PLACEHOLDER' %}";
                                let items = "";
                                params.forEach(p => {
                                    const url = paramBaseUrl.replace('PARAM_PLACEHOLDER', p.name);

                                    if (p.is_affect === true || p.is_goal) {
                                        items += `
                                    <li>
                                    <a class="dropdown-item red" href="${url}">${p.name}</a>
                                    </li>
                                `;
                                    } else {
                                        if(button.value='off'){
                                            items += `
                                        <li>
                                        <a class="dropdown-item" href="${url}">${p.name}</a>
                                        </li>
                                    `;
                                        }
                                    }

                                })
                                return `<div class='btn-group dropup'>
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    ${d.data.name}
                                </button>
                                <ul class="dropdown-menu">
                                    ${items}
                                </ul>
                                </div>`

                            });

                        document.querySelectorAll('.dropdown-toggle').forEach(el => {
                            new bootstrap.Dropdown(el);
                        });
                        //Круги
                        nodes.append("circle")
                            .attr('r', 20)
                            .style('fill', '#69b3a2')
                            .style('stroke', '#fff')
                            .style('stroke-width', '2px');

                        //Текс
                        /*
                        nodes.append('text')
                            .attr('dy', 5)
                            .attr('x', d => d.children ? -45 : 45)
                            .style("text-anchor", d => d.children ? "end" : "start")
                            .text(d => d.data.name);
                        */

                        /*
                        nodes.append('text')
                            .attr('class', 'param-count')
                            .attr('dy', 35)
                            .style('font-size', '48px')
                            .text(d => {
                                const params = d.data.parameters;
                                if (!params || params.length === 0) return '';
                                const count = params.length;
                                const first5 = params.slice(0, 5).map(p => p.name).join(', ');
                                return count > 5 ? `${first5}...(+${count})` : first5;
                            })
                            .style('fill', 'green')
                            .attr('x', d => d.children ? 45 : -45);
                            */
                        nodes.append('text')
                            .attr("dy", 5)
                            .attr('text-anchor', 'middle')
                            .style('fill', 'while')
                            .style('font-size', '30px')
                            .text(d => {
                                const p = d.data.parameters;
                                return p && p.length ? p.length : "";
                            });

                        console.log("Дерево успешно отрисовано");
                    })
                    .catch(error => {
                        console.error('Ошибка', error);
                        document.getElementById('info-text').textContent = "Ошибка загрузки дерева " + error.message;
                    });


                //Информация об узле

                function showNodeInfo(data) {
                    const infoDiv = document.getElementById('info-text');

                    let html = `<strong>${data.name}</strong><br>`;

                    if (data.description) {
                        html += `<em>${data.description}</em><br>`;
                    }
                    const paramBaseUrl = "{% url 'edit_parameter' 'PARAM_PLACEHOLDER' %}";
                    if (data.parameters && data.parameters.length > 0) {

                        html += `
                <div class="dropdown mt-2">
                    <button class="btn btn-primary dropdown-toggle" 
                            type="button"
                            data-bs-toggle="dropdown">
                        Параметры (${data.parameters.length})
                    </button>

                    <ul class="dropdown-menu">
                `;

                        data.parameters.forEach(p => {
                            const url = paramBaseUrl.replace('PARAM_PLACEHOLDER', p.name);
                            html += `<li><a class="dropdown-item" href="${url}">${p.name}</a></li>`;
                        });

                        html += `
                    </ul>
                </div>
                `;
                    }

                    if (data.children && data.children.length > 0) {
                        html += `<br><strong>Дочерние элементы</strong><br>`;
                        data.children.forEach(child => {
                            html += `- ${child.name}<br>`;
                        });
                    }

                    infoDiv.innerHTML = html;
                }
            }
            second();
    }, 10);
}
main();
</script>

{% endblock %}