{%extends 'base.html' %}

{%block title%}Матрица важности{%endblock%}


{%block content%}
<h2>{{goal_parameter.name}}</h2>

<div class="d-flex justify-content-center align-items-center vh-100">

    
    <table class="table table-bordered text-center w-auto">
        <tbody>
            <tr>
                <th></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
            </tr>
            <tr>
                <th>1</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>2</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>3</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered text-center w-auto">
        <tbody>
            <tr>
                <th></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
            </tr>
            <tr>
                <th>1</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>2</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>3</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>
{%endblock%}

